* {
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  overflow-y: auto;
}

main {
  background-color: #f0f0f0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.main-container, .points-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

header {
  background-color: rgba(31, 40, 173, 0.849);
}

.container {
  gap: 20px;
}

.container, .options-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  flex-wrap: wrap;
}

.options-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.header-title {
  font-size: 2rem;
  font-weight: bold;
  color: #000000;
}

.header-points, .button-mode {
  background-color: #013f7e;
  color: white;
  padding: 0.65rem;
  border-radius: 10%;
  font-size: medium;
  letter-spacing: 0.12rem;
  font-weight: bold;
}

.header-points {
  background-color: #013f7e;
}

.button-mode {
  padding: 0.5rem 1rem;
  background-color: #003366;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.5rem;
  margin-left: 20px;
}

.button-mode:hover {
  background-color: #00509e;
}

/* Estilos para la notificación */
.notification {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color:#00509e;
  border: 2px solid #7dff9d;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.notification.show {
  opacity: 1;
  pointer-events: all;
}

.notification-content {
  text-align: center;
}

.notification-content h2 {
  margin-top: 0;
  font-size: 1.5rem;
  color: #000000;
}

.notification-content p {
  font-size: 1rem;
  color: #000000;
}

.hidden {
  display: none;
}


.a-button {
  text-decoration: none;
  color: white;
}

.option {
  background-color: white;
  padding: 2rem;
  border-radius: 100%;
  border-color: rgb(140, 148, 255);
  cursor: pointer;
}

.option:hover {
  animation: shake 0.5s infinite; 
}

.option-image {
  width: 10rem;
  height: 10rem;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
}

#intentos {
  border: 2px solid #003366;
  background-color:#2a6aaa57;
  color: #000000;
  font-size: 1rem;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  width: auto;
  max-width: 200px;
}

#intentos::after{
  border: #7dff9d;
}

#mensaje {
  font-size: 1.5rem;
  padding: 0.5rem;
  margin-top: 0.5rem;
}

@media (max-width: 768px) {
  .option-image {
      width: 6rem;
      height: 6rem;
  }

  .button-mode {
      font-size: 1rem;
      padding: 0.6rem 1.2rem;
  }
}

@media (max-height: 480px) {
  body {
      overflow-y: visible;
  }
}

@keyframes shake {
  0% { transform: rotate(10deg); }
  25% { transform: rotate(20deg); }
  50% { transform: rotate(-20deg); }
  75% { transform: rotate(20deg); }
  100% { transform: rotate(10deg); }
}
